<div ng-include="'../../templates/menu.html'"></div>
<section class="container blog">

	<div id="blog" class="container">
		<div id="blog-info">
			<!-- blog -->
		</div>
	</div>

	<script type="text/x-handlebars-template" id="plantilla_blog">
		
		<div class="contenedor_blog">
			<h3><i class="fas fa-rss"></i> {{titulo_blog}}</h3>
			<p>{{contenido_blog}}</p>
			<div style="background: url('{{img_blog}}');
			background-repeat: no-repeat;
			height: 250px;
			width: 100%;
			margin: 0px auto;
			display: block;
			background-position: center;
			background-size: cover;"></div>
			<hr>
		</div>
		<br>
	</script>

</section>
<br><br><br>
<section class="container">
	<div id="disqus_thread"></div>
	<script>
	    (function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://daniel-arango.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>