<footer class="footer">
      <div class="container" id="footer">
		<span class="text-muted"><a href="https://www.cofgranada.com/copyright/copyright.asp" target="derechos">Copyright © Todos los Derechos Reservados</a> | Daniel Arango Villegas</span>
	</div>
</footer>