<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fas fa-rocket"></i> | <span style="font-size: 10px;position: relative;top: -3px;" id="nombre"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/pagina">Pagina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>