 <nav id="menu" class="navbar navbar-default navbar-static-to navbar-inverse navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#!" id="render_logo">
				<img src="https://firebasestorage.googleapis.com/v0/b/danielarango990-29a5e.appspot.com/o/icon.png?alt=media&token=8076ab01-7e05-4b61-b9b2-f8651b73b6ed" title="icono de la pagina daniel arango villegas">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" id="render_menu">
				<li><a ui-sref="acerca"  href="#!">Acerca</a></li>
				<li><a ui-sref="blog"  href="#!">Blog</a></li>
			</ul>
		</div>

	</div>
</nav>