body
	background-color: black

h1,p,span,h1,h2,h3,h4,h5,h6
	color: #25D58E

footer
	padding: 15px
	background-color: #222
	position: absolute
	bottom: 0px
	width: 100%

.titulo
	font-size: 30px

.btn-menu
	margin: 30px
	position: fixed
	top: 0px
	left: 0px
	font-size: 30px
	color: white
	z-index: 1

.contend
	padding-top: 28px
	padding-bottom: 20px

.red
	background-color: #E62117 
	border: none

.blue
	background-color: #4176FA
	border: none

.blue_2
	//color: #081D43
	background-color: #081D43
	border: none

#acerca-de
	padding-top: 100px

#blog
	padding-top: 100px

.contenedor_blog
	

.img_blog
	width: 500px;

#menu 
	li 
		a
			color: #25D58E
#blog
	h3
		color: #615d5f

.preloader-1
	background: url(../img/recursos/preloader-1.gif) black
	background-repeat: no-repeat
	background-position: center center
	position: fixed
	z-index: 9999
	top: 0px
	width: 100%
	height: 100%



@media only screen and (max-width: 993px)
	h1
		text-align: left
	h2
		text-align: left
		
	#contacto 
		#contacto-info
			width: 100%
			
	.acerca-de
    	margin-top: 50px
   		padding: 20px