<div ng-include="'../../../templates/menu_app.html'"></div>
<section class="container">
	<br>
	<h2 class="text-center">Blog | <button class="btn btn-sm btn-danger" type="button" id="cerrar-s">cerrar sesion</button></h2>
	<form>
		<div class="form-group">
			<label for="titulo_blog">Titulo del blog</label>
			<input type="text" class="form-control" id="titulo_blog" placeholder="Titulo del blog">
		</div>

		<div class="form-group">
			<label for="contenido_blog">Contenido del Blog</label>
			<textarea style="width: 100%; height: 300px;" class="form-control" id="contenido_blog" placeholder="contenido del blog"></textarea>
		</div>

		<div class="custom-file">
			<input type="file" class="custom-file-input" id="file" lang="es">
			<label class="custom-file-label" for="file">Seleccionar Archivo</label>
		</div>

		<div class="form-group">
			<br>
			<input type="text" class="form-control" id="img" placeholder="img url" disabled>
		</div>

		<hr style="border: 1px solid #ccc;">

		<button type="button" class="btn btn-danger btn-sm" id="btn_blog">Enviar blog</button>
		<br><br>
	</form>



</section>