<div ng-include="'../../../templates/menu_app.html'"></div>
<section class="container">
	<br>
	<h2 class="text-center">Pagina | <button class="btn btn-sm btn-danger" type="button" id="cerrar-s">cerrar sesion</button></h2>
	<form>
		<div class="form-group">
			<label for="icono">Icono</label>
			<input type="text" class="form-control" id="icono" placeholder="Icono de la pagina">
		</div>
		<button type="button" class="btn btn-warning btn-sm" id="btn_icono">Enviar icono</button>

		<hr style="border: 1px solid #ccc;">

		<div class="form-group">
			<label for="titulo_pag">Titulo de la pagina</label>
			<input type="text" class="form-control" id="titulo_pag" placeholder="Titulo de la pagina">
		</div>
		<button type="button" class="btn btn-warning btn-sm" id="btn_titulo">Enviar titulo</button>

		<hr style="border: 1px solid #ccc;">

		<div class="form-group">
			<label for="contenido">Contenido de la pagina</label>
			<textarea name="" class="form-control" id="contenido" placeholder="contenido de la pagina"></textarea>
		</div>
		<button type="button" class="btn btn-warning btn-sm" id="btn_contenido">Enviar contenido</button>

		<hr style="border: 1px solid #ccc;">
		<div class="form-group">
			<label for="tiutlo_redes">Titulo de las redes</label>
			<input type="text" class="form-control" id="tiutlo_redes" placeholder="Titulo de las redes">
		</div>
		<button type="button" class="btn btn-warning btn-sm" id="btn_titulo_redes">Enviar titulo redes</button>

		<hr style="border: 1px solid #ccc;">
		<h3>Redes:</h3>

		<div class="input-group mb-2 mr-sm-2">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fas fa-envelope-square"></i></div>
			</div>
			<input type="text" class="form-control" id="gmail" placeholder="gmail">
		</div>

		<div class="input-group mb-2 mr-sm-2">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fab fa-behance-square"></i></div>
			</div>
			<input type="text" class="form-control" id="behance" placeholder="behance">
		</div>

		<div class="input-group mb-2 mr-sm-2">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fab fa-bitbucket"></i></div>
			</div>
			<input type="text" class="form-control" id="bitbucket" placeholder="bitbucket">
		</div>

		<div class="input-group mb-2 mr-sm-2">
			<div class="input-group-prepend">
				<div class="input-group-text"><i class="fab fa-youtube"></i></div>
			</div>
			<input type="text" class="form-control" id="youtube" placeholder="youtube">
		</div>
		<button type="button" class="btn btn-danger btn-sm" id="btn_redes">Enviar redes</button>
		<hr style="border: 1px solid #ccc;">
	</form>
</section>