	<div ng-include="'../../templates/menu.html'"></div>
	
	<div id="acerca-de"></div>



  	<!-- contenido de las plantillas -->

	<script type="text/x-handlebars-template" id="plantilla_acerca">
		<section class="container">

			<p class="text-left titulo"><i class="{{icono}}"></i> | {{titulo_pag}}<p>
			<p>{{contenido}}</p>

			<div class="page-header">
				<h1><small>{{titulo_redes}}:</small></h1>
				<a href="mailto:{{gmail}}">{{gmail}}</a>
			</div>
			<p><a target="blan_k" class="btn btn-primary blue_2 btn-sm" href="{{bitbucket}}">Bitbucket.org</a></p>
		</section>

	</script>

	<div ng-include="'../../templates/footer.html'"></div>